body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.border-radius-10 {
    border-radius: 10px;
}

.youtubeVideo {
    overflow: hidden;
    height: 20vw;
    width: 80%;
    margin-left: 10%;
}

.round-avatar{
    object-fit: cover;
}

@media screen and (max-width:1000px) {
    .youtubeVideo {
        height: 40vw;
    }
}