{% extends 'base.html' %}
{% block title %}
    О клубе
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <h1>О клубе </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l10 push-l1">
            <pre class="flow-text">
Добро пожаловать в Бауманский клуб переговоров!
Здесь мы проводим управленческие поединки и изучаем новые технологии ведения переговоров.
Управленческие поединки — технология обучения менеджеров, инструмент оценки и спорт.
Чему ты научишься на занятиях:

 ✔ Отстаивать свои интересы в конфликтных ситуациях
 ✔ Распознавать интересы оппонента
 ✔ Находить решение конфликта "здесь и сейчас"
 ✔ Проходить собеседования и противостоять давлению
 ✔ Точно реагировать на неожиданные изменения в конфликте
 ✔ Обретешь уверенность в переговорах,
 ✔ Разберешь реальные конфликтные ситуации

            </pre>
        </div>
    </div>
{% endblock %}