{% extends 'base.html' %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="col s12 center">Вход в аккаунт</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col l6 push-l3 s10 push-s1">
                {% include 'inc/formRender.html' with formInfo=form_info %}
            </div>
        </div>
        <div class="row">
            <button class="col offset-s1 s10 l6 offset-l3  waves-effect waves-light btn-large center" type="submit">
                Вход
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col center s12">
                <span>
                    Нет аккаунта? <a href="/register"> Зарегистрироваться </a>
                </span>
        </div>
    </div>
{% endblock %}