{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="col s12 center">Регистрация</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col l6 push-l3 s10 push-s1">
                {% include 'inc/formRender.html' with formInfo=form_info %}
            </div>
        </div>
        <div class="row">
            <button type="submit" class="col offset-s1 s10 l6 offset-l3  waves-effect waves-light btn-large center">
                Зарегистрироваться
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col center s12">
                    <span>
                    Есть аккаунт? <a href="/login"> Войти </a>
                </span>
        </div>
    </div>
{% endblock %}