<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Приходи к нам</h5>
                <div id="yandexMap" style="position:relative;overflow:hidden; visibility: hidden;"><a
                                                                   href="https://yandex.ru/maps/org/mgtu_imeni_n_e_baumana_nuk_energomashinostroyeniye/1023958089/?utm_medium=mapframe&utm_source=maps"
                                                                   style="color:#eee;font-size:12px;position:absolute;top:0px;">МГТУ
                    имени Н. Э. Баумана, Нук
                    Энергомашиностроение</a><a
                        href="https://yandex.ru/maps/213/moscow/category/university_college/?utm_medium=mapframe&utm_source=maps"
                        style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Москве</a>
                    <iframe id="yandexMapFrame"  src="https://yandex.ru/map-widget/v1/-/CCQpZRhh1D" width="400" height="125" frameborder="1"
                            allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Социальные сети</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Вконтакте</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Бауманский клуб переговоров
        </div>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static "js/footer.js" %}"></script>
</footer>