<li {% if active == 'news' %} class="active" {% endif %}><a href="/news">Новости</a></li>
<li {% if active == 'games' %} class="active" {% endif %}><a href="/games">Игры</a></li>
<li {% if active == 'rules' %} class="active" {% endif %}><a href="/rules">Правила</a></li>
<li {% if active == 'about' %} class="active" {% endif %}><a href="/about">О клубе</a></li>
{% if author.user.is_authenticated %}
    <li>
        <a href="/profile" class=" waves-effect waves-light btn-large">
            <div class="valign-wrapper">
                <img src="{{ author.avatar.url }}" alt="" class="circle round-avatar " width="40" height="40">
                <span style="margin-left: 10px;"> {{ author.user.first_name }} {{ author.user.last_name }} </span>
            </div>
        </a>
    </li>
{% else %}
    <li><a href="/login" class="waves-effect waves-light btn">Вход в аккаунт</a></li>
{% endif %}
